body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: white;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #caa642;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
  color: gray;
  font-size: 20px;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  color: #caa642;
}

.cart {
  font-size: 28px;
  font-weight: bold;
  color: gray;
}

.hero {
  height: calc(100vh - 80px);

  background: #e9e4c4;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.hero h2 {
  color: gray;
  margin: 0;
}

.hero h1 {
  font-size: 90px;
  color: #caa642;
  margin: 10px 0;
}

.hero p {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.hero span {
  color: gray;
  font-size: 24px;
}

.hero button {
  margin-top: 30px;

  padding: 15px 40px;

  border: none;
  border-radius: 30px;

  background: #caa642;
  color: white;

  font-size: 20px;
  cursor: pointer;
}